@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  background-color: #ecf1f2;
  padding: 20px;
}

.grid {
  margin: 0 -10px;
  font-size: 0;
}

.grid:not(:last-child) {
  margin-bottom: 20px;
}

.grid_col {
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}

.box1 { width: 100%; }
.box2 { width: 50%; }
.box3 { width: 33.33%;}
.box4 { width: 25%; }
.box5 { width: 20%; }
.box6 { width: 16.66%; }

.grid_cell {
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
/* 回答はここに書いてね */
