@charset "UTF-8";

/* 回答はここに書いてね */
body {
  font-size: 16px;
  line-height: 16px;
}

.wrap {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.photo {
  width: 100%;
  height: 100%;
  transition: .5s;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .2);
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
  color: #ffffff;
}

.wrap:hover .mask {
  opacity: 1;
}

.wrap:hover .photo {
  transform: scale(1.5);
}

.loading {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 8px solid #00bcd4;
  border-right: 8px solid #ecf1f2;
  border-left: 8px solid #ecf1f2;
  border-bottom: 8px solid #ecf1f2;
  border-radius: 60px;
  animation: loading 1.1s linear infinite;
}

@keyframes loading {
  to {
  }

  from {
    transform: rotate(-360deg);
    transform-origin: 50% 50%;
  }
}
/* 回答はここに書いてね */
