@charset "UTF-8";

/* 回答はここに書いてね */
.wrap1 {
  text-align: center;
}

.textbox1 {
  background-color: #e6f2ff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90px;
  display: inline-block;
}

.textbox2 {
  background-color: #e6f2ff;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.wrap3 {
  display: table;
}

.textbox3 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.textbox3 > p {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}

.textbox4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox4 > p {
  background-color: #fff;
  padding: 10px;
}

.wrap {
  position: relative;
}

.textbox5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 110px;
  height: 30px;
}

.textbox6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* 回答はここに書いてね */
